/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.GlobalBody
{
    background: url("https://cdn.discordapp.com/attachments/1004455177165754508/1008479938598404177/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    margin: 0;
    height:100vh;
}

h1
{
    color:white;
    padding:15px;
}