<app-navbar></app-navbar>
<section class="Container1">
    <div class="row1 CosminisGo InvisibleBox">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008558278587990046/go4.png" (click)="GoAway()" class="GoButton" type="button">
    </div>
    <div class="row1 Shop InvisibleBox">
        <button type="button" (click)="gotoShop()" class="btn btn-light">ShopTillYaDrop</button>
    </div>
    <div class="row1 UserProfilePortal InvisibleBox">
        <button type="button" (click)="gotoUserProfile()" class="btn btn-light">User Profile</button>
    </div>
</section>
<section class="Container1">
    <div class="row2 AllCosminis InvisibleBox">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008556176868376596/comsimihome.png" (click)="GoBabies()" class="SeeAllCosminis" type="button">
    </div>
    <div class="row2 InvisibleBox">
        <img src="../../assets/Pics/plutofinal.png" class="show-case" type="button">
    </div>
    <div class="row2 BeanNebula InvisibleBox">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008485384809889862/justtheneb2.png" (click)="smellingHandler()" class="fartButton" type="button">
    </div>
</section>
