<section class="Container1">
    <div class="row1"></div>
    <div class="row1"></div>
    <div class="row1"></div>
</section>
<section class="Container1">
    <div class="row1"></div>
    <div class="row1"></div>
    <div class="row1"></div>
</section>
<section class="Container1">
    <div class="row1"></div>
    <div class="row1"></div>
    <div class="row1 BeanNebula">
        <img src="https://cdn.discordapp.com/attachments/1004455177165754508/1008485384809889862/justtheneb2.png" (click)="smellingHandler()" class="fartButton" type="button">
    </div>
</section>
