<section class="NavContainer">
    <div class="NavLeft">
        <h2 type="button" (click)="gotoHome()" class="NavLeft btn-light">Cosminis</h2>
        <p *ngIf="Loggedin()">username: {{currentUsernickname}}</p>
    </div>    
    <div class="NavMiddle">
        <div *ngIf="Loggedin()">Eggcount:{{userEgg}} Gold:{{userGold}}</div>
        <div>SF:{{SpicyFoodCount}} CF:{{LeafyFoodCount}} LF:{{ColdFoodCount}} FF:{{FluffyFoodCount}} BF:{{BlessedFoodCount}} CF:{{CursedFoodCount}}</div>
        <div>DisplayCompanionMood:{{DisplayCompanionMood}} DisplayCompanionMood:{{DisplayCompanionHunger}}</div>
    </div>
    <div class="NavRight">
        <button *ngIf="Loggedin()" type="button" (click)="Logout()" class="btn btn-light">Logout</button>
    </div>
</section>