.NavContainer {
    display: flex;
    justify-content: space-between;
    color: mistyrose;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.NavLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

.NavMiddle {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.NavRight {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}