.Container1
{
    display:flex;

    justify-content: space-around;
}

.row1
{
    background-color: midnightblue;
    height:25vh;
    width: 25%;
    border-width: 3px;
    border-style: solid;
    border-color:black;
    margin-bottom: 50px;
}

.InvisibleBox
{
    background-color: transparent;
    display:flex;
    border-width: 0px;
    justify-content: center;
    align-items: center;
}

.PostsFeed
{
    overflow-y: scroll;
}

.FriendsFeed
{
    overflow-y: scroll;
}