.Container1 {
    display:flex;
    justify-content: center;
}

.column {
    height: 100vh;
    width: 350px;
    margin-bottom: 50px;
}

.one {
    flex-grow: 1;
}

.two {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, .5);
}

.three {
    flex-grow: 1;
    overflow-y: scroll;
}

.card-body {
    color: mistyrose;
}

.card-title{
    color:  plum;
}

p {
    color: white;
    text-align: center;
}

h2 {
    display: flex;
    flex-direction: column;
    color: mistyrose;
    text-align: center;
}

.feed
{
    display: flex;
    flex-direction: column;
    color: mistyrose;
}

.search-body
{
    display: flex;
    flex-direction: column;
}

