.Container1 {
    display:flex;
    justify-content: center;
}

.column {
    height: 100vh;
    width: 350px;
    margin-bottom: 50px;
}

.one {
    flex-grow: 1;
}

.two {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, .5);
}

.three {
    flex-grow: 1;
    overflow-y: scroll;
}

.card-body {
    color: mistyrose;
}

.card-title{
    color:  plum;
}

p {
    color: white;
    text-align: center;
}

.feed {
    color: mistyrose;
    text-align: center;
}
