<app-navbar></app-navbar>
<section class="Container1">
    <div class="column one">
        <p>placeholder but a big placeholder</p>
    </div>
    <div class="column two">
        <h2 class="feed">Cosminis Feed</h2>
        <div class="card PostsFeed text-white bg-dark mb-3" *ngFor="let pot of posts" >
            <div class="card-body">
                <h5 class="card-title">{{pot.posterNickname}}</h5>
                <div>{{pot.content}}</div>
            </div>
        </div> 
    </div>
    <div class="column three">
        <h2 class="feed">Friends</h2>
            <label for="formGroupExampleInput">Search Users</label>
            <input type="text" [(ngModel)]="userInstance.username" id="formGroupExampleInput" placeholder="Search user to add...">
            <button type="button" class="btn btn-primary" id ="showcase" (click)="searchUsers(userInstance.username)">search...</button>
        <div class="card PostsFeed text-white bg-dark mb-3" >
            <div class="search-body" *ngIf="doesExist">
                <h5 class="card-title" >{{userInstance.username}}</h5>
                <button type="button" class="btn btn-primary" id ="addButton" (click)="searchAndAdd(userInstance.username)">Add Friend!</button>
            </div>
        </div>         
        <div class="card PostsFeed text-white bg-dark mb-3" *ngFor="let us of users">
            <div class="card-body">
                <h5 class="card-title">{{us.password}}</h5>
            </div>
        </div> 
    </div>
</section>

