<app-navbar></app-navbar>
<section class="Container1">
    <div class="column one">
        <h2>Post Into the Cosmos!</h2>
        <textarea name="text" placeholder="What's happenin'?" id="text" cols="53" rows="8"></textarea>
        <div class="post-button">
            <button class="sub-btn post-selector" (click)="submitPost()" type="button">Submit</button>
        </div>
        <div class="card owners-feed mb-3" *ngFor="let pot of ownersPosts">
            <div class="card-body">
                <h5 class="owner-title">{{pot.posterNickname}}</h5>
                <div class="owner-content">{{pot.content}}</div>
            </div>
        </div> 
    </div>
    <div class="column two">
        <h2 class="feed">Cosminis Feed</h2>
        <div class="card friends-feed mb-3" *ngFor="let pot of posts">
            <div class="card-body">
                <h5 class="card-title">{{pot.posterNickname}}</h5>
                <div>{{pot.content}}</div>
            </div>
        </div> 
    </div>
    <div class="column three">
        <div class="searchbar">
            <h2 class="friends-text">Friends</h2>
            <input type="text" [(ngModel)]="userInstance.username" placeholder="Search user to add..." class="username">
            <button class="sub-btn search-button" (click)="searchUsers(userInstance.username)" type="button">Submit</button>
        </div>
        <div class="card friend-options mb-3" >
            <div class="search-body" *ngIf="doesExist">
                <h5 class="friend-title" >{{userInstance.username}}</h5>
                <button type="button" class="btn" id ="addButton" (click)="searchAndAdd(userInstance.username)">Add Friend!</button>
            </div>
        </div> 
        <div class="friends">
            <div class="card friend-options mb-3" *ngFor="let us of users" >
                <div class="card-body">
                    <h5 class="friend-title">{{us.password}}</h5>
                    <button type="button" class="btn" id ="removeButton" (click)="removeFriends(us.username)">Remove User</button>
                    <button type="button" class="btn" id ="blockButton" (click)="blockUsers(us.username)">Block user</button>
                </div>           
            </div>
        </div>
        <div class="pendingFriends">
            <div class="card friend-options mb-3" *ngFor="let pends of pendingFriends" >
                <div class="card-body" *ngIf="friendPending">
                    <h5 class="friend-title">{{pends.username}}</h5>
                    <button type="button" class="btn" id ="acceptButton" (click)="acceptFriends(pends.username)">Accept Friend Request!</button>
                    <button type="button" class="btn" id ="blockButton" (click)="blockUsers(pends.username)">Block user</button>
                </div>           
            </div>
        </div>   
    </div>       
</section>

