<div class="loginbox">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Prepare to be lost in the cosmos!</div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" id ="login" (click)="auth0.loginWithPopup()">Login</button>
            <h5 class="card-title">Many people are saying you should login.</h5>
            <!--<p class="card-text">Below is a button to enter our home page, do not abuse.</p>-->
            <!--<button type="button" (click)="gotoHome()" class="btn btn-light">Homepage Preview</button>-->
        </div>
    </div> 
</div>
