<div class="loginbox">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Log in With</div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" id ="login" (click)="auth0.loginWithPopup()">Primary</button>
            <h5 class="card-title">This is Auth0</h5>
            <p class="card-text">Below is a button to enter our home page, do not abuse.</p>
            <button type="button" (click)="gotoHome()" class="btn btn-light">Homepage Preview</button>
        </div>
    </div> 
</div>
