<app-navbar></app-navbar>
<h1>Check in with your companions!</h1>
<div class="container1" *ngIf="showCosminis">
    <div class="card-wrapper" *ngFor="let com of cosminis">
        <div class="cardhead">
            <img class="all-cosminis" src="../assets/Pics/{{com.image}}">
        </div>

        <div class="cardbody bg-dark">
            <h5 *ngIf="com.nickname" class="card-title">Nickname: {{com.nickname}}</h5>
            <h5 *ngIf="!com.nickname" class="card-title">Species: {{com.speciesNickname}}</h5>
            <div>Emotion: {{com.emotionString}}</div>
            <div>Mood: {{com.mood}}</div>
            <div>Hunger: {{com.hunger}}</div>
        </div>
    </div> 
</div>